head
    title Free Responsive Email Templates Made With MJML
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="styles.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400, 500,700" rel="stylesheet")