extends layout.pug

block title
    title Free Responsive Email Templates Made With MJML

block content
        div.wrapper#header
            include includes/nav.pug
            div#title.inner-container
                div#title-left
                    h1 Need email templates?
                    p Create responsive template theme for your business in a second
                    div#title-buttons
                        a.button.primary(href="#form") Use Generator
                        a.button.secondary(href="/templates") See templates
                div#title-right
                    video(autoplay
                    width="250" 
                    name="MJML animation" 
                    src="./img/anim.mov")
        div.wrapper
            div#values.inner-container
                div#responsive 
                    img(src="./img/responsive.png")
                    h3 Responsive
                    p Create responsive template theme for your buisness in a second 
                div#tailored
                    img(src="./img/responsive.png")
                    h3 Tailored for your brand
                    p Just fill in your Brand name, your main and secondary color, and off you go.
                div#easy
                    img(src="./img/responsive.png")
                    h3 Easy to update
                    p Need a few things ? Download them as MJML and make the changes
        .wrapper#form
            div#form.inner-container
                div#form-left
                    form(action="./templates" method="get")
                        h2 Get your templates!
                        br
                        label(for="company") Your company name:
                        br 
                        input(type="text" name="company" id="company" placeholder="e.g Mailjet")
                        br
                        label(for="logo") Your company logo
                        br
                        p#explanation You need to host your logo yourself and paste the link inside the field
                        input(type="url" name="logo" id="logo" placeholder="e.g https://mjml.io/assets/img/mark-logo-3.png")
                        br
                        label(for="color") Your company color
                        br
                        input(type="color" name="mainColor" id="color" value="#f45f49")
                        br
                        button.button.primary(type="submit" value="create") Create templates
                div#form-right
                    div#fake-template 
                        img(src="./img/mjmlbymailjet.png")
                        p#fake-h1
                        p#fake-p
                        p#fake-p
                        p#fake-p(style="margin-bottom:3em")
                        a.button.primary(href="./random") Randomize
