html
    head
        block title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" type="text/css" href="./styles.css")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400, 500,700" rel="stylesheet")
    body
        block content
        .wrapper#footer
            p#footer Created by some 
                a(href="https://twitter.com/nico_g" style="text-decoration:none" target="_blank") 🤓 
                | &nbsp;with 
                a(href="https://mjml.io" style="color:#f45f49" target="_blank") MJML
