* {
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  min-height: 100vh;
  font-family: Roboto;
  font-weight: 200;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto; 
}

.inner-container {
  min-width: auto;
  display: flex;
  flex: 1 1 auto;
  margin: 0 auto;
  max-width: 1000px;
  width: 90vw;
}

#header {
  padding-bottom: 30px;
  background: linear-gradient(0deg, #E5505C 0%, #EE6152 100%);
}

#nav {
  margin: 30px auto 0;
}

#title {
  margin-top: 6.5em;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

#title-left {
  flex: 4 0 0;
  margin-bottom: 2em;
}

#title-right {
  flex: 1 0 0;
  text-align: right;
}

h1 {
  padding: 0;
  margin: 0 0 24px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 3em;
  font-weight: bold;
  line-height: 57px;
}

p {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
}

#title-buttons {
  margin-top: 32px;
}

.button {
  padding: 8px 24px;
  min-width: 120px;
  font-size: 1em;
  line-height: 20px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

a.button {
  display: inline-block;
  padding: 16px 24px;
}

.primary {
  border: none;
  border-radius: 2px;
  background-color: #4381F4;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  color: #ffffff;
  min-height: 52px;
}

.primary:hover {
  background-color:#2D65DA;
}

.secondary {
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  background: transparent;
  color: #ffffff;
  margin: 0 25px;
}

.secondary:hover {
  background-color: #ffffff;
  color: #E6565C;
}

.primary:focus,
.secondary:focus {
  outline: none;
}

#values {
  margin: 81px auto;
  display: flex;
  justify-content: space-between;
}

#values div {
  margin: 0 auto;
  flex: 1;
  text-align: center;
  max-width: 270px;
}

#values img {
  width: 64px;
}

h3 {
	color: #444444;
	font-family: Roboto;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
}

#values p {
	color: #444444;
	font-family: Roboto;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

.wrapper#form {
  background-color: #F9F9F9;
  border: 1px solid #E1E1E6;
}

#form {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

#form-left, 
#form-right {
  flex: 1
}

h2 {
	color: #444444;
	font-family: Roboto;
	font-size: 32px;
	font-weight: bold;
  line-height: 38px;
  margin: 0;
}

label {
	color: #444444;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
}

input {
	height: 40px;
  width: 350px;
  margin: 10px 0 16px;
  padding: 0 20px;
	border: 1px solid #E1E1E6;
	border-radius: 3px;
  background-color: #FFFFFF;
  font-size: 12px;
  line-height: 20px;
}

input:focus {
  outline: none;
}

#color {
  padding: 0;
  height: 40px;
	width: 40px;
  border-radius: 100px;
  border:none;
}

#explanation {
  margin: 8px 0 0;
	color: #444444;
	font-family: Roboto;
	font-size: 12px;
  line-height: 20px;
}

input:focus {
  border: 2px solid #4381F4;
}

#logo:invalid {
  border: 2px solid #FF624D;
}

#form-left {
  flex: 2 0 0;
}

#form-right {
  flex: 1 0 0;
  padding-left: 10px;
}

#fake-template {
  margin: 0 auto;
  padding: 0 40px;
  text-align: center;
	height: 400px;
	width: 400px;
	border-radius: 10px;
	background-color: #FFFFFF;
  box-shadow: 5px 5px 14px 0 rgba(0,0,0,0.04);
}

#fake-template img {
  width: 172px;
  margin: 40px auto;
}

#fake-template p {
  height: 14px;
  border-radius: 7px;
}

p#fake-h1 {
	width: 10em;
  background-color: #E2E2E2;
}

p#fake-p {
  margin-top: 14px;
  width: 100%;
  background-color: #F3F3F3;
}

.wrapper#footer {
  height: 68px;
  padding: 24px;
}

p#footer {
 text-align:center;
 color: #444444;
 font-family: Roboto;
 font-size: 14px;
 line-height: 20px;
 text-align: center;
}

.wrapper#templates {
  background-color: #F9F9F9;
  padding: 70px 0 50px 0;
  border-bottom: 1px solid #E1E1E6;
}

.inner-container#templates {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: space-between;
}

.thumbnail {
  height: 303px;
  width: 310px;
  border-radius: 10px;
  box-shadow: 5px 5px 14px 0 rgba(0,0,0,0.04);
  text-align: center;
  margin: 0 auto 30px;
  padding: 15px;
  background-color: #ffffff;
}

.thumbnail p {
  margin-top: 15px;
  color: #4D4D4D;
}

.iframe-div {
  box-sizing: border-box;	
  height: 233px;		
  border: 1px solid #E1E1E6;	
  border-radius: 3px;	
  background-color: #F9F9F9;
  overflow: hidden;
}

iframe {
  margin: 0 auto;
  border: 0;
  height: 350px; 
  width: 400px;
  text-align: center;
  -ms-zoom: 0.7;
  -moz-transform: scale(0.7);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.7);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.7);
  -webkit-transform-origin: 0 0;

}

@media (max-width: 800px) {
  .inner-container {
    flex-direction: column;
    padding: 0!important;
  }
  #title-left, #title-right, #title, #form-left, #form-right  {
    text-align: center!important;
    width: 95vw!important;
  }
  #title-right {
    margin-bottom: 30px;
  }
  #responsive, #tailored {
    margin-bottom: 30px!important;
  }
  #fake-template {
    display: none;
  }
}